%html
	%head
		%title Refinery 2
		:css
			body {
				font-family: Helvetica;
				background-color: #161616;
				color: white;
			}

			h1 {
				/*color: #EE954B;*/
				color : #BD2735;
			}

			h1 a {
				color : #BD2735;
			}
			
			h2 {
				color : #97AD00;
			}

			a {
				color: white;
			}
			
	%body
		%h1 
			%a{:href => '/' } Refinery Numero Duo
		= yield
