<!DOCTYPE html>
%html
	%head
		%title Dynamic Forms
		%link(rel="stylesheet" href="/lib/bootstrap-2.0/css/bootstrap.min.css")
			
	%body
		.container
			%h1 
				%a{:href => '/' } Dynamic Forms
			= yield
